body{
    /* /* position:fixed; */
   margin: 0px; 
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   background: radial-gradient(rgb(235, 193, 209),#ffff); 
    /* background: radial-gradient(rgb(87, 116, 124),#ffff);  */
}

    .logo{
        width: 50px;
        
        text-align: left;
        padding: 25px;
    }
    .navbar {
    display: flex;
    
     /* position: sticky;  */
    /* top: 0px;
    cursor: pointer;
    padding: 0px; */
    /* background-color: rgb(31, 27, 27);  */
}
.container{
    
    /* max-width: 1400px; */
    margin: auto;
    padding-left: 25px;
    padding-right: 10px;
    /* height: 100vh; */
}
nav {
    /* width: 100%; */
      /* background-color:#160624;     */ 
   /* margin: 0%; */
   /* display: -webkit-inline-box; */
   flex: 1;
   text-align: right;
   /* text-align: right; */
}
nav ul{
    list-style-type:none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
a:hover{
    background-color:white;
    color:black;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style:inherit;
    /* color:thistle; */
    height: 80%;
    max-width: 100%;
    /* margin: auto; */
    text-decoration: thistle;
    text-transform:none;
    margin: 40px;
}
.small-container{
    max-width: 1080px;
   margin:auto;
   padding-left: 30px;
   padding-right: 30px;

}
.col3{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    min-width: 250px;
    flex-basis: 30%;
}
.col3 img{
    width: 250px;
    height: 250px;
    border-style:solid ;
    border-color: black;
    /* margin-left: 30px;
    margin-right: 30px; */

}
.page-btn{
    margin: 0px auto 80px;
    

}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff52ff;
     width: 50px;
     height: 50px;
     justify-content: center;
}
.page-btn span:hover{
    background-color: #fc4b05;
    color: #fff;
}
.footer{
    background-color: black;
    color: #8a8a8a;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    height: 300px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
    align-items: center;
    text-align:center;
}
.footer-col-1{
    min-width: 250px;
    margin-bottom: 20px;
    flex-basis: 30%;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
}
.footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
    flex: 1;
    text-align: right;
}
.footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
    flex-basis: 12%;
    text-align: center;
    /* list-style-type: none; */
}
.footer-col-4{
    flex-basis: 12%;
    text-align: center;
    min-width: 250px;
    margin-bottom: 20px;
    /* list-style-type: none; */
}ul{
    list-style-type: none;
}
.footer-col-2 img{
    width: 80px;
    
    height:80px;
}
.app-logo{
    margin: auto;
}
.app-logo img{
    width: 140px;
    height: 50px;
    border:black;
}
.footer hr{
    margin: 20px 0;
    height: 2px;
    border: none;
    background: #b5b5b5;
}
.copyright{
    text-align: center;
    margin-bottom:10px ;
    
}
.menuicon{
    margin-left: 20px;
}
row-2{
    justify-content: space-between;
    margin: 100px  50px;
}
/* ----media query for 800px---- */
@media only screen and (max-width:1100px){
    body{
        width: 100%;
        /* margin-left: 10px;
        margin-right: 10px; */
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
    }
    nav ul li{
        display: block;
        margin-right: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menuicon{
        display: block;
        cursor: pointer;
    }
    .row{
        margin-left: 20px;
        margin-right: 20px;
        padding: 20 40;
    }
    .col1{
        padding: 15px;
        margin-top: 5px;
    }
    .container{
        padding: 10px;
        height: 150vh;
    }

     .col2 img{
       object-fit: contain;
       max-width:300px;
       max-height: 300px;
     }
     .footer{
         height: fit-content;
     }
}

/* ----media query for 600px---- */
@media only screen and (max-width:800px){
    /* body{
        width: min-content;
    } */
    .row{
        display: flex;
        flex-direction: column;
    }
    .col1{
        padding: 15px;
        margin-top: 5px;
    }
    .container{
        padding: 10px;
        height: 200vh;
    }

     .col2 img{
       object-fit: contain;
       max-width: 90%;
       max-height: 100%;
       margin-top: 25px;
     }
     .col2{
         padding: 0px auto;
         object-fit: contain;
         height:30 px;
         width:80 px;
     }
    .small-container{
       display: flex;
       flex-direction: column;
    }
    .row
    {
        object-fit: contain;
    }
    .col1{
       max-width: 100%;
       max-height: 100%;
    }
    .col2{
       max-width: 100%;
       max-height: 100%;
    }
    .buttons{
       margin-top: 45px;
       margin-bottom: 10px;
       max-width: 100%;
       max-height: 100%;
    }
    .logo{
        object-fit: contain;
    }
    .logo img{
       max-width: 250%;
       max-height: 250%;
       position: relative;
       top: -30px;
       left: -16px;
    }
    .container h3{
        color: #555;
    }
    .footer{
        display:flex;
        flex-direction: column;
        /* background-color: rgb(8, 8, 8); */
        height: fit-content;
        width: 100%;
    }
}